<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href="style.css">
</head>

<body>
    <div class="header">


        <div class="nav__logo">
            <div class="nav__menu-button">
                <button>
                    nav__button
                </button>
            </div>
            <div class="nav__menu-icon">
                logo
            </div>
            
        </div>

        <div class="nav__menu">
            <div>
                Dashboard
            </div>
            <div>
                About Us
            </div>
            <div>
                News
            </div>
            <div>
                User Policy
            </div>
            <div>
                Contacts
            </div>            
            <div>
                Troetochie
            </div>
        </div>

        <div class="nav__search">
            <div class="nav__search-left"> 
                <div>
                    searchIcon
                </div>
                <div class="nav__search-input">
                    <input type="text" placeholder="Search Transaction and Documents">
                </div>
            </div>
            <div class="nav__search-button">
                <button>
                    toSearch
                </button>
            </div>
        </div>

        <div class="nav__user-control">
            <div class="nav__user-info">
                <div>
                    userAvatar
                </div>
                <div>
                    userName
                </div>
            </div>
            <div>
                Notifications
            </div>
            <div>
                Exit
            </div>
        </div>


    </div>
    
    
    
    
    
    
    
    
    
    
    <script src="Task7.js" charset=UTF-8>

    </script>
</body>