<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href="style.css">
    <title>Constructor</title>
</head>

<body>
    <div class="header">


        <div class="nav__logo">
            <div class="nav__menu-button">
                <button>
                    nav__button
                </button>
            </div>
            <div class="nav__menu-icon">
                logo
            </div>
            
        </div>

        <div class="nav__menu">
            <div>
                Dashboard
            </div>
            <div>
                About Us
            </div>
            <div>
                News
            </div>
            <div>
                User Policy
            </div>
            <div>
                Contacts
            </div>            
            <div>
                Troetochie
            </div>
        </div>

        <div class="nav__search">
            <div class="nav__search-left"> 
                <div>
                    searchIcon
                </div>
                <div class="nav__search-input">
                    <input type="text" placeholder="Search Transaction and Documents">
                </div>
            </div>
            <div class="nav__search-button">
                <button>
                    toSearch
                </button>
            </div>
        </div>

        <div class="nav__user-control">
            <div class="nav__user-info">
                <div>
                    userAvatar
                </div>
                <div>
                    userName
                </div>
            </div>
            <div>
                Notifications
            </div>
            <div>
                Exit
            </div>
        </div>


    </div>
    

    <div class="main">


        <div class="main__left-menu">
            <div class="main__left-menu__top">
                <div>icon</div>
                <div>icon</div>
                <div>icon</div>
                <div>icon</div>
                <div>icon</div>
                <div>icon</div>
            </div>

            <div class="main__left-menu__bottom">
                <div>avatar</div>
                <div>avatar</div>
                <div>avatar</div>
                <div>avatar</div>
                <div>avatar</div>

            </div>
        </div>

        <div class="main__sidebar">
            
            <div class="main__sidebar-content">
                
                <div class="main__sidebar-content__head">
                   
                    <div class="top">
                        
                        <div class="top-head">
                            <div>Button</div>
                            <div>Button</div>
                        </div>
                        
                        <div>
                            <div>User Avatar</div>
                        </div>

                    </div>

                    <div class="sidebar__name">
                        
                        <div>Hello Alfred Bryant</div>
                        <div>adrain.nader@yahoo.com</div>

                    </div>

                </div>

                <div class="sidebar__menu">
                    <div class="sidebar__menu__line">
                        <div>Dashboard</div>
                        <div>Notes</div>
                    </div>
                    <div class="sidebar__menu__line">
                        <div>Invoice</div>
                        <div>Files</div>
                    </div>
                    <div class="sidebar__menu__line">
                        <div>Events</div>
                        <div>Teams</div>
                    </div>
                    <div class="sidebar__menu__line">
                        <div>Massage</div>
                        <div>Settings</div>
                    </div>
                </div>

            </div>

            <div class="main__sidebar-footer">

            </div>

            
        </div>

        <div class="main__content">
            
            <div class="main__content__sidebar">
                
            </div>


            <div class="main__content__content">
                
                <div class="content">

                </div>

            </div>

        </div>

    




    </div>
    
</body>