

@font-face {
    font-family: 'Roboto';
    src:  local('Roboto Bold'), 
    local('Roboto-Bold'), 
    url("fonts/roboto/Robotobold.woff2") format('woff2'), 
    url("fonts/roboto/Robotobold.woff") format('woff'), 
    url("fonts/roboto/Robotobold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #F7F8FA;
    font-family: 'Roboto';
}

.header {
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #EDEFF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 181px;
    height: 50px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(117, 92, 184);
}

.nav__menu {
    width: 425px; 
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 232, 127);
}

.nav__search {
    width: 430px; 
    height: 50px;
    background-color: rgb(247, 170, 99);
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.nav__search-left {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__search-button {
    margin-right: 20px;
}

.nav__user-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(197, 117, 144);
    margin-right: 25px;
}

.nav__user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    height: 100vh;
    display: flex;
}

.main__left-menu {
    width: 100px;
    background-color: rgb(187, 187, 187);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.main__left-menu__top {
    width: 50px;
    height: 400px;
    margin-top: 30px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main__left-menu__bottom {
    width: 50px;
    height: 330px;
    margin-bottom: 30px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main__sidebar {
    width: 360px;
    padding-top: 30px;
    background-color: burlywood;
}

.main__sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
} 


.main__sidebar-content__head {
    display: flex;
    flex-direction:column;
    align-items: center;
    row-gap: 40px;
} 

.top {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.top-head {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}


.sidebar__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.main__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: darkgray;
}

